{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluacion Sumativa 4 </title>
    <script src={%static 'token.js'%} defer></script>
    <script src={%static 'app.js'%} defer></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href={%static 'style.css'%}>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"
        defer></script>
</head>

<body>



    <section class="et-hero-tabs">
        <h1>EVALUACIÓN SUMATIVA 4</h1>
        <h3>Tienda de productos</h3>
        <div class="container mt-5">
            <div class="d-flex justify-content-center">
                <form id="tokenForm" class="d-flex align-items-center gap-2 p-3  rounded">
                    <input type="text" class="form-control" id="username" placeholder="Usuario" required>

                    <input type="password" class="form-control" id="password_field" placeholder="Contraseña" required>

                    <button type="submit" class="btn btn-primary px-4">
                        Obtener Token
                    </button>
                </form>
            </div>
        </div>
        <div class="container mt-4">
            <label for="response" class="form-label fw-semibold">
            </label>
            <textarea id="respuesta" class="form-control pretty-textarea" rows="8"
            placeholder="Aquí aparecerá la respuesta JSON..." readonly></textarea>
            <div class="et-hero-button-container">
                <a onclick="getProductos()" class="et-hero-tab">Traer todos los productos</a>
                <span class="et-hero-tab-slider"></span>
            </div>
        </div>



        <div class="et-hero-tabs-container">
            <a class="et-hero-tab" href={%url 'index'%}>Producto Aleatorio</a>
            <a class="et-hero-tab" onclick="getProductos()">Traer todos los productos</a>
            <span class="et-hero-tab-slider"></span>
        </div>
    </section>
</body>

</html>